.account-container{
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 2fr;
}
.accountleft{
    background-color: lightsteelblue;
}
.accountright{
    background-color: rgb(160, 189, 219);
    padding: 5%;
}