.Home{
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 2fr;
    height: 80vh;
}
.homeleft{
  background-color: rgb(190, 190, 190);
  overflow-y: scroll;
}
.homeright{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
}
.post-container{
  background-color: rgb(115, 117, 114);
  margin: 3% 25%;
  padding: 2%;  
}