.home{
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 2fr;
    height: 80vh;
}
.homeleft{
  background-color: rgb(0, 173, 32);
}
.homeright{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
}