.postdetails{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 3% 0%;
  }
  .DialogBox{
    min-width: 400px;
    height: 80vh;
    background-color: rgb(202, 204, 207);
    padding: 4%;
  }